.button{
  margin-top: 1rem 0 0 auto;
  display: block;
  width: 32px;
  height: 32px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-family: Roboto,sans-serif;
  border: none;
}
